._*
03-sem-NN/solution.ipynb
03-sem-NN/test/*
03-sem-NN/template_x.ipynb
.DS_Store
05-image-segm/data/*
06-sem-video/Road_cv_5/*
06-sem-video/raft/*
06-sem-video/Road_ffmpeg_5/*
06-sem-video/road_5.mp4
Homeworks/hw1/classifiers/__pycache__/*
Homeworks/hw1/datasets/cifar-10-batches-py/*
Homeworks/hw1/utils/__pycache__/*
Homeworks/hw1/datasets/cifar-10-python.tar.gz
06-sem-video/template.ipynb
06-sem-video/raft.zip
Homeworks/hw1/saved/softmax.npy
07-sem-transformers/cifar10/*
07-sem-transformers/cifar10_images/*
07-sem-transformers/*
Homeworks/hw2/BatchNormalization.ipynb
Homeworks/hw2/Dropout.ipynb
Homeworks/hw2/PyTorch.ipynb
Homeworks/hw2/RNN_Captioning_pytorch.ipynb
Homeworks/hw2/classifiers/__pycache__/*
Homeworks/hw2/datasets/get_coco_dataset.sh
Homeworks/hw2/datasets/get_imagenet_val.sh
Homeworks/hw2/datasets/cifar-10-batches-py/*
Homeworks/hw2/utils/coco_utils.py
Homeworks/hw2/utils/rnn_layers_pytorch.py
Homeworks/hw2/utils/captioning_solver_pytorch.py
Homeworks/hw2/classifiers/rnn_pytorch.py
Homeworks/hw2/datasets/cifar-10-python.tar.gz
Homeworks/hw2/utils/__pycache__/*
